# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
.env

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Data and models
*.pkl
*.h5
models/
mlruns/

# Logs and results
*.log
results/

# Others
*.npy
